.tagList
    margin-bottom: 10px

    a
        margin-bottom: 5px

.moveableContainer
    display: flex
    flex-direction: column

.moveablePingator
    margin-top: 24px
    margin-bottom: 24px

    &.inBottom
        order: 1
        margin-top: 22px
        margin-bottom: 24px

.linebreak
    height: 0px
    background-color: #777777
    margin: 8px 0px