.paginationContainer
    margin-top: 15px
    margin-bottom: 30px

.item
    padding: 5px 10px
    border: 1px solid #020101
    margin: auto 5px
    color: #000000

    &:hover
        background-color: #000000
        color: #ffffff

.activeItem
    background-color: #000000
    color: #ffffff